<div class="box-body box-primary">
  <div class="row">
      <div class="col-sm-10 offset-sm-1">
          <flash-messages></flash-messages>
          <div class="list-group">
              <div class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">{{typeChange | uppercase}} YOUR BALANCE</h5>
                </div>
                <div class="d-flex w-100" style="justify-content: flex-end">
                    <form (submit)="onSubmit()" [formGroup]="changeBalanceForm" style="width:70%; text-align:right;">
                      <div class="form-group">
                        <mat-form-field class="example-full-width" style="text-align: right">
                          <input type="number" matInput placeholder="Enter amount to {{typeChange}}" name="amount" id="amount" formControlName="amount">
                          <mat-error *ngIf="amount.hasError('required')">
                            Required <strong>field</strong>
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <button type="submit" mat-raised-button color="primary" [disabled]="!changeBalanceForm.valid" >Submit</button>
                  </form>
              </div>
          </div>
      </div>
    </div>
  </div>
</div><!-- /.box-body -->